:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #1565c0;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --dark-bg: #282a36;
    --hoverable: #bbdefb;
    --code: #8be9fd;
    --code-bg: #44475a;
    --border-form: #ced4da;
    --topbar-height: 50px;
    --slide-translation: 100px;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

html {
    font-family: "Roboto", sans-serif;
    line-height: 1.15;
    overflow: hidden;
}

body {
    margin: 0;
    background-color: var(--dark-bg);
    color: var(--white);
}

div[class^="section-"] {
    height: calc(100vh - var(--topbar-height));
    width: 100vw;
    transform: translateY(var(--topbar-height));
}

span, a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

a.non-underlined:hover {
    text-decoration: none;
}

i {
    color: var(--hoverable);
    cursor: pointer;
    font-size: 42px;
    margin: 0 5px;
}

p {
    white-space: pre-line;
    word-wrap: break-word;
    line-height: 1.75;
    font-size: large;
    text-align: justify;
}

code {
    color: var(--code);
    background-color: var(--code-bg);
}

code:hover {
    cursor: pointer;
}

textarea {
    resize: none;
}

form {
    min-width: 60vw;
}

form div {
    width: 100%;
}

#topbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--topbar-height);
    padding: 2px;
    background-color: var(--dark-bg);
    box-shadow: 0 0.125rem 0.25rem 0 rgb(255 255 255 / 11%);
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 2;
}

#topbar span:first-child {
    margin-left: 15vw;
    margin-right: 2rem;
}

#topbar span {
    margin-right: 15px;
    cursor: pointer;
}

#avatar {
    border-radius: 50%;
}

#presentation-chart {
    padding: 20px;
    border-radius: 8px;
    outline: none;
    /* backdrop-filter: blur(23px); */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#profile {
    font-family: "Montserrat";
}

#profile h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: .1rem;
}

#profile img {
    margin: auto;
}

#profile h3:first-of-type {
    color: var(--secondary);
    margin-top: 0;
    margin-bottom: 10px;
}

#profile h3:last-of-type {
    color: var(--hoverable);
    margin-top: 0;
    margin-bottom: 10px;
}

#biography-chart {
    max-width: 70vw;
    min-width: 70vw;
    font-size: large;
}

#resume {
    color: var(--hoverable);
}

#contact {
    min-width: 70vw;
    margin: 0;
}

#download-icon {
    color: var(--white);
    font-size: large;
    cursor: auto;
    margin-right: 0.5rem;
}

#menu-icon {
    font-size: 25px;
    color: var(--white);
}

#links {
    margin-top: 1rem;
    display: inline-flex;
}

#links a {
    margin-left: 0.15rem;
}

#navbar {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#tick {
    cursor: auto;
    opacity: 0;
    font-size: 1.5rem;
    margin-left: 2rem;
    -o-transition: opacity .25s ease;
    -ms-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    -webkit-transition: opacity .25s ease;
}

#tick.show {
    opacity: 1;
    -o-transition: opacity .25s ease;
    -ms-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    -webkit-transition: opacity .25s ease;
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 5%;
}

#footer a {
    color: var(--hoverable);
}

#footer p {
    font-size: 1rem;
}

#experience {
    min-width: 70vw;
    max-width: 70vw;
    margin: auto;
}

.transition-fade {
    color: var(--white);
    -o-transition: color .6s ease;
    -ms-transition: color .6s ease;
    -moz-transition: color .6s ease;
    -webkit-transition: color .6s ease;
}

.transition-fade:hover {
    color: var(--hoverable);
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
}

.center-flex {
    justify-content: center;
    align-items: center;
}

.strong {
    font-weight: bold;
    font-size: large;
}

.expandable:hover {
    transform: scale(1.2);
}

.circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--secondary);
    margin-bottom: 20px;
    -o-transition: background-color .6s ease;
    -ms-transition: background-color .6s ease;
    -moz-transition: background-color .6s ease;
    -webkit-transition: background-color .6s ease;
    cursor: pointer;
}

.circle:hover, #navbar .active {
    background-color: var(--hoverable);
    transform: scale(1.5);
}

.work-chart-container {
    width: 80%
}

.work-chart {
    background-color: var(--dark);
    border-radius: 0.45rem;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    padding: 1rem;
    transition: all .2s ease-out;
    text-overflow: ellipsis;
    width: 100%;
}

.work-chart:hover {
    box-shadow: 0 8px 16px rgb(0 0 0 / 20%);
}

.work-chart img {
    width: 5rem;
    height: 5rem;
    background-color: var(--white);
    border-radius: 0.35rem;
    margin-right: 1rem;
}

.work-chart h4 {
    color: var(--hoverable);
}

.spacer {
    height: 2.5rem;
}

.timeline {
    width: 20%;
    align-self: stretch;
}

.timeline>div {
    margin: 0;
    padding: 0;
    width: 100%;
    flex: 1;
}

.timeline>div>div {
    width: 50%;
}

.timeline span {
    width: 1.15rem !important;
    height: 1.15rem !important;
    border: 1px solid var(--primary);
    border-radius: 50%;
    margin: 0.5rem 0 !important;
}

.filled-circle {
    background-color: var(--primary);
}

.line div:last-child {
    border-left: 1px solid var(--primary);
}

.work-description *:not(img) {
    margin: .5rem 0;
}

.work-description {
    align-items: center;
}

.responsibilities p {
    margin-top: .25rem;
    margin-bottom: .5rem;
    line-height: 1.4;
}

.responsibilities ul {
    margin: 0;
    font-size: large;
    line-height: 1.5;
}

.responsibilities span {
    font-style: italic;
    text-decoration: underline;
}

.middle-dot::after {
    content: '\00B7';
    box-sizing: border-box;
    padding: 0 0.5rem;
}

.form-field {
    font-family: "Roboto", sans-serif;
    font-size: large;
    padding: .375rem .75rem;
    margin: .5rem 0;
    line-height: 1.5;
    color: var(--white);
    background-color: var(--code-bg);
    border: 1px solid var(--border-form);
    border-radius: .25rem;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.form-field:focus {
    border-color: var(--primary);
    box-shadow: 0 0 5px var(--primary);
}

.btn {
    font-family: "Roboto", sans-serif;
    font-size: medium;
    cursor: pointer;
    color: var(--primary);
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: .25rem;
    outline: none;
    padding: .5rem 1rem;
    margin: .5rem 0;
    width: fit-content;
    -o-transition: background-color .15s ease-in-out;
    -ms-transition: background-color .15s ease-in-out;
    -moz-transition: background-color .15s ease-in-out;
    -webkit-transition: background-color .15s ease-in-out;
}

.btn:hover, .btn:focus {
    color: var(--white);
    background-color: var(--primary);
}

.inline-container {
    align-items: center;
}
